.container_cards {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1.66%;
  background-size: cover;
  border-radius: 15px;
  box-shadow: -7px 9px 16px -3px rgba(145, 140, 145, 1);
  position: relative;
  background-position-y: 50%;
}

.container_cards.tacos {
  background-image: url("../images/mexican tacos.jpg");
}
.container_cards.fries {
  background-image: url("../images/French fries.jpg");
}
.container_cards.pancakes {
  background-image: url("../images/panckques.jpg");
}
.container_cards.pizza {
  background-image: url("../images/pizza.jpg");
}
.container_cards.salmon {
  background-image: url("../images/salmon.jpg");
}
.container_cards.burger {
  background-image: url("../images/special burger.jpg");
}

.container_cards.sushi {
  background-image: url("../images/sushi.jpg");
}

.container_cards.sandwich {
  background-image: url("../images/sandwich.jpg");
}

.image_cards {
  width: 55%;
  height: 155px;
  background-size: cover;
}

.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.container_info {
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #000000b2;
  padding-top: 10px;
  border: none;
}

.title_cards {
  margin-bottom: 5px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 17px;
}

.price_cards {
  color: white;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
}

.description_cards {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color:white;
  font-weight: lighter;
  text-transform: capitalize;
}

.icon_cards {
  color: white;
  cursor: pointer;
}

.container_cart {
  background: linear-gradient(62deg, #fbac7ed4 0%, #f7cf68e2 66%);
  padding: 5px 0;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  color: white;
  border: none;
}
