.main_cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  margin-left: 10px;
}

.icon_header:hover {
  color: #121211e2;
  font-size: 20px;
}

.shopping_list {
  width: 200px;
  height: 300px;
  background-color: white;
  overflow: auto;
  top: 40px;
  position: absolute;
}
